---
layout: default
title: Ian Richardson
description: Ian Richardson's Personal Website
featured_image: /images/workshop.jpg
---
<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap" style="float: center">
		<div class="greeting_grid">
			<div class="headshot">
				<img src="/images/ian-senior-portrait.jpg"/>
			</div>

			<div class="hello">
				<h1>Hi, I'm Ian.</h1>
			</div>

			<div class = "description">
				<h1 class="typewriter"></h1>
			</div>

			<div class = "social_container">
				{% include socials.html %}
			</div>
		</div>

		
	</div>

	<h2 class="project_label">Personal Enginerring Projects</h2>
</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>