.greeting_grid {
    display:grid;

    //mobile inset
    margin-left:10px;
    margin-right:10px;
    //laptop inset
    @include mq(tabletp) {
        margin-left:100px;
        margin-right:100px;
    }
    
    //mobile layout
    grid-template:
    [row1-start] "headshot hello" auto [row1-end]
    [row2-start] "headshot description" auto [row2-end]
    [row3-start] "social social" auto [row3-end]
    / 150px auto;

    //desktop layout
    @include mq(tabletp) {
        grid-template:
        [row1-start] "headshot hello" auto [row1-end]
        [row2-start] "headshot description" auto [row2-end]
        [row3-start] "headshot social" auto [row3-end]
        / 250px auto;
    }

    .headshot {
        grid-area: headshot;
        justify-self: end;
        align-self: center;
        
        padding-right: 20px;

        img {
            //mobile
            width: 150px;
            //laptop
            @include mq(tabletp) {
                width: 250px;
            }
        }
    }

    .hello {
        grid-area: hello;
        align-self: end;
    }

    .description {
        grid-area: description;
        align-self: start;
    }

    .social_container {
        grid-area: social;
        align-self: end;
    }
}


//typerwriter
@import 'typed';

.typewriter {
    display:inline-block;
    
    //mobile
    height: 4.2em;
    //laptop
    @include mq(tabletp) {
        height: 2.2em;
    }

    overflow-wrap: break-word;

    @include typed(
        "I'm a Thinker.",
        "This is a long line with a lot of text that will wrap",
        "This is a long line with a lot of text that will wrap",
        "I'm a Maker.",
        "I'm a Tinkerer.", 
        "I'm an Electrical Engineer.",
        "I'm a Mechanical Engineer.", 
        "I'm a Biomedical Engineer.",
        "I love 3D Printing.",
        "I love laser cutting.",
        "I love machining.",
        "I love THORlabs #notsponsored",
        "I build robotics.",
        "I build medical devices.",
        "I write software.",
        "I wonder if anyone is still reading this.",
        "Why are you still here?",
        "Go read about a project already.",
        "Or you can find out more about me on the about page.",
        "This is getting weird.",
        "Are you just bored or something?",
        "I'm running out of things to say.",
        "It's going to repeat eventually.",
        "Not if I can help it.",
        "Okay I think I've really run out of ideas.",
        "Repeating in",
        "3",
        "2",
        "1"
    );
}
