.greeting_grid {
    display:grid;

    //mobile inset
    margin-left:10px;
    margin-right:10px;
    //laptop inset
    @include mq(tabletp) {
        margin-left:100px;
        margin-right:100px;
    }
    
    //mobile layout
    grid-template:
    [row1-start] "headshot hello" auto [row1-end]
    [row2-start] "headshot description" auto [row2-end]
    [row3-start] "social social" auto [row3-end]
    / 150px auto;

    //desktop layout
    @include mq(tabletp) {
        grid-template:
        [row1-start] "headshot hello" auto [row1-end]
        [row2-start] "headshot description" auto [row2-end]
        [row3-start] "headshot social" auto [row3-end]
        / 250px auto;
    }

    .headshot {
        grid-area: headshot;
        justify-self: end;
        align-self: center;
        
        padding-right: 20px;

        img {
            //mobile
            width: 150px;
            //laptop
            @include mq(tabletp) {
                width: 250px;
            }
        }
    }

    .hello {
        grid-area: hello;
        align-self: end;
    }

    .description {
        grid-area: description;
        align-self: start;
    }

    .social_container {
        grid-area: social;
        align-self: end;
    }
}


//typerwriter
@import 'typed';

.typewriter {
    display:inline-block;
    
    //mobile
    height: 4.2em;
    //laptop
    @include mq(tabletp) {
        height: 2.2em;
    }

    overflow-wrap: break-word;

    @include typed(
        "I'm a Thinker.",
        "I'm a Maker.",
        "I'm a Tinkerer.", 
        "I'm an Electrical Engineer.",
        "I'm a Mechanical Engineer.", 
        "I'm a Biomedical Engineer.",
        "I'm a self-learner.",
        "I'm a hobbyist.",
        "I love 3D Printing.",
        "I love laser cutting.",
        "I'm trying to get better at machining.",
        "I love THORlabs #notsponsored",
        "I build robotics.",
        "I build medical devices.",
        "I write software.",
        "I'm a collaborator.",
        "I'm a musician",
        "I'm a student",
        "I'm a PC enthusiast",
        "I hate writing CSS",
        //Jokes
        "I wonder if anyone is still reading this.",
        "Go read about a project already.",
        "Or you can find out more on the about page.",
        "This is getting weird.",
        "Are you just bored or something?",
        "I'm running out of things to say.",
        "It's going to repeat eventually.",
        "Not if I can help it.",
        "Time to get really creative.",
        "walrus",
        "I bet you didn't expect that one, did you?",
        "Actually I think I've really run out of ideas.",
        "Repeating in",
        "3",
        "2",
        "1"
    );
}
